<footer class="admin-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <p>
          &copy; <%= new Date().getFullYear() %> Steph Logistics Admin. All rights
          reserved.
        </p>
      </div>
      <div class="col-md-6 text-md-end">
        <p>Version 1.0.0</p>
      </div>
    </div>
  </div>
</footer> 