<!-- Start Header Area -->
<header class="trucker__header-area-home-1">
  <div class="trucker__header-topbar">
    <div class="trucker__container">
      <div class="trucker__header-wrapper">
        <div class="trucker__topbar-left">
          <a
            href="mailto:info@stephlogistics.co.uk"
            class="trucker__header-topbar-info trucker__fs-15 trucker__fw-400 trucker__white"
            ><i class="fa-sharp fa-light fa-envelope"></i>
            info@stephlogistics.co.uk</a
          >
          <a
            href="tel:02000000000"
            class="trucker__header-topbar-info trucker__fs-15 trucker__fw-400 trucker__white"
            ><i class="fa-light fa-phone"></i>+44 7404 888 952</a
          >
        </div>
        <div class="trucker__topbar-right">
          <div class="trucker__topbar-social-media">
            <a href="#" class="trucker__white"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a href="#" class="trucker__white"
              ><i class="fa-brands fa-youtube"></i
            ></a>
            <a href="#" class="trucker__white"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
            <a href="#" class="trucker__white"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="trucker__header-menu">
    <div class="trucker__container">
      <div class="trucker__menu-wrapper">
        <div class="trucker__logo">
          <a href="/">
            <img
              src="/assets/images/logo/logo.svg"
              alt="Trucker - Transport Courier & Logistics Html Template"
            />
          </a>
        </div>
        <div class="trucker__menu__inner">
          <nav>
            <ul class="trucker__menu">
              <li>
                <a
                  href="/about"
                  class="trucker__fs-16 trucker__fw-500 trucker__deep-sea-blue"
                  >About</a
                >
              </li>
              <li>
                <a
                  href="/ecommerce-integration"
                  class="trucker__fs-16 trucker__fw-500 trucker__deep-sea-blue"
                  >E-Store Integration</a
                >
              </li>
              <li>
                <a
                  href="/services"
                  class="trucker__fs-16 trucker__fw-500 trucker__deep-sea-blue"
                  >Service</a
                >
              </li>
              <li>
                <a
                  href="/shipment/create"
                  class="trucker__fs-16 trucker__fw-500 trucker__deep-sea-blue"
                  >Create Shipment</a
                >
              </li>
              <li>
                <a
                  href="/franchise"
                  class="trucker__fs-16 trucker__fw-500 trucker__deep-sea-blue"
                  >Franchise</a
                >
              </li>
              <li>
                <a
                  href="/contact"
                  class="trucker__fs-16 trucker__fw-500 trucker__deep-sea-blue"
                  >Contact</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="trucker__header-menu-right">
          <div class="trucker-search-mobile-menu-btn">
            <a href="javascript:void(0)" class="trucker__mobile-menu-bar">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.5 5.6159C7.5 6.65134 6.66054 7.49071 5.625 7.49071C4.58946 7.49071 3.75 6.65134 3.75 5.6159C3.75 4.58047 4.58946 3.74109 5.625 3.74109C6.66054 3.74109 7.5 4.58047 7.5 5.6159ZM7.5 14.99C7.5 16.0254 6.66054 16.8648 5.625 16.8648C4.58946 16.8648 3.75 16.0254 3.75 14.99C3.75 13.9546 4.58946 13.1152 5.625 13.1152C6.66054 13.1152 7.5 13.9546 7.5 14.99ZM5.625 26.2388C6.66054 26.2388 7.5 25.3994 7.5 24.364C7.5 23.3286 6.66054 22.4892 5.625 22.4892C4.58946 22.4892 3.75 23.3286 3.75 24.364C3.75 25.3994 4.58946 26.2388 5.625 26.2388ZM16.875 14.99C16.875 16.0254 16.0355 16.8648 15 16.8648C13.9645 16.8648 13.125 16.0254 13.125 14.99C13.125 13.9546 13.9645 13.1152 15 13.1152C16.0355 13.1152 16.875 13.9546 16.875 14.99ZM15 7.49071C16.0355 7.49071 16.875 6.65134 16.875 5.6159C16.875 4.58047 16.0355 3.74109 15 3.74109C13.9645 3.74109 13.125 4.58047 13.125 5.6159C13.125 6.65134 13.9645 7.49071 15 7.49071ZM16.875 24.364C16.875 25.3994 16.0355 26.2388 15 26.2388C13.9645 26.2388 13.125 25.3994 13.125 24.364C13.125 23.3286 13.9645 22.4892 15 22.4892C16.0355 22.4892 16.875 23.3286 16.875 24.364ZM24.375 16.8648C25.4105 16.8648 26.25 16.0254 26.25 14.99C26.25 13.9546 25.4105 13.1152 24.375 13.1152C23.3395 13.1152 22.5 13.9546 22.5 14.99C22.5 16.0254 23.3395 16.8648 24.375 16.8648ZM26.25 5.6159C26.25 6.65134 25.4105 7.49071 24.375 7.49071C23.3395 7.49071 22.5 6.65134 22.5 5.6159C22.5 4.58047 23.3395 3.74109 24.375 3.74109C25.4105 3.74109 26.25 4.58047 26.25 5.6159ZM24.375 26.2388C25.4105 26.2388 26.25 25.3994 26.25 24.364C26.25 23.3286 25.4105 22.4892 24.375 22.4892C23.3395 22.4892 22.5 23.3286 22.5 24.364C22.5 25.3994 23.3395 26.2388 24.375 26.2388Z"
                  fill="#2A9D8F"
                />
              </svg>
            </a>
          </div>
          <div class="trucker__header-btn">
            <a href="/shipment/track" class="trucker__btn-style-1"
              >Track Order <i class="fa-light fa-arrow-up-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area -->

<!-- Start Mobile Menu -->
<div class="trucker__mobile-menu">
  <div class="trucker__menu-header">
    <div class="trucker__logo">
      <a href="/">
        <img src="/assets/images/logo/logo.svg" alt="Steph Logistics" />
      </a>
    </div>
    <button class="trucker__close-btn">
      <i class="fa-sharp fa-light fa-xmark"></i>
    </button>
  </div>

  <div class="trucker__mobile-menu-btn">
    <a href="/shipment/track" class="trucker__btn-style-1"
      >Track Order <i class="fa-light fa-arrow-up-right"></i
    ></a>
  </div>

  <nav>
    <ul class="trucker__nav-list">
      <li class="trucker__nav-item">
        <a href="/" class="trucker__nav-link">Home</a>
      </li>
      <li class="trucker__nav-item">
        <a href="/about" class="trucker__nav-link">About</a>
      </li>
      <li class="trucker__nav-item">
        <a href="/ecommerce-integration" class="trucker__nav-link"
          >E-Store Integration</a
        >
      </li>
      <li class="trucker__nav-item">
        <a href="/services" class="trucker__nav-link">Service</a>
      </li>
      <li class="trucker__nav-item">
        <a href="/shipment/create" class="trucker__nav-link">Create Shipment</a>
      </li>
      <li class="trucker__nav-item">
        <a href="/franchise" class="trucker__nav-link">Franchise</a>
      </li>
      <li class="trucker__nav-item">
        <a href="/contact" class="trucker__nav-link">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="mobile-menu-contact-info">
    <a
      href="mailto:info@stephlogistics.co.uk"
      class="trucker__header-topbar-info trucker__fs-15 trucker__fw-400 trucker__white"
      ><i class="fa-sharp fa-light fa-envelope"></i>
      info@stephlogistics.co.uk</a
    >
    <a
      href="tel:02000000000"
      class="trucker__header-topbar-info trucker__fs-15 trucker__fw-400 trucker__white"
      ><i class="fa-light fa-phone"></i>+44 7404 888 952</a
    >
  </div>
  <div class="mobile-menu-social-media">
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
  </div>
  <div class="trucker__mobile-menu-copyright">
    <p class="trucker__mobile-menu-copyright-text">
      © <%= new Date().getFullYear() %> <a href="/">Steph Logistics</a>. All
      Rights Reserved.
    </p>
  </div>
</div>
<!-- End Mobile Menu -->
