<!-- Start Breadcrumb Area  -->
<section class="trucker__hero-area trucker__breadcrumb-area" data-background="assets/images/inner/breadcrumb.png">
    <div class="trucker__container">
      <div class="trucker__hero-wrapper trucker__breadcrumb-wrapper">
        <h2
          class="trucker__breadcrumb-title trucker__fs-65 trucker__fw-500 trucker__white wow img-custom-anim-left text-center">
          404</h2>
        <div class="trucker__breadcrumb-menu wow img-custom-anim-right">
          <a href="index.html">Home</a>
          <span class="trucker__breadcrumb-icon"><i class="fa-light fa-angle-right"></i></span>
          <a href="https://devsaidul.com/ui/Trucker/404">404</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Breadcrumb Area -->

  <!-- Start 404 Area -->
  <section class="trucker__404-area">
    <div class="trucker__container">
      <div class="trucker__404-img-part wow img-custom-anim-left">
        <img src="assets/images/inner/404.png" alt="Trucker - Transport Courier & Logistics Html Template">
      </div>
      <div class="trucker__404-text-content">
        <h2
          class="trucker__404-title trucker__fs-48 trucker__fw-700 trucker__deep-sea-blue text-center wow img-custom-anim-left">
          Oops! Nothing Was Found</h2>
        <p
          class="trucker__404-sub-title trucker__fs-16 trucker__fw-400 trucker__gray-2 text-center wow img-custom-anim-right">
          Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque <br> laudantium totam aperiame
          eaque abillo inventore veritatis</p>
        <form action="404.html#" method="POST">
          <div class="trucker__input-wrapper wow img-custom-anim-top">
            <input type="text" placeholder="Keywords">
            <button type="submit" class="trucker__btn-style-1">Search<i class="fa-light fa-angle-right"></i></button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- End 404 Area -->