<!-- Start Breadcrumb Area  -->
<section class="trucker__hero-area trucker__breadcrumb-area" data-background="assets/images/inner/breadcrumb.png">
    <div class="trucker__container">
      <div class="trucker__hero-wrapper trucker__breadcrumb-wrapper">
        <h2
          class="trucker__breadcrumb-title trucker__fs-65 trucker__fw-500 trucker__white wow img-custom-anim-left text-center">
          Team Member</h2>
        <div class="trucker__breadcrumb-menu wow img-custom-anim-right">
          <a href="index.html">Home</a>
          <span class="trucker__breadcrumb-icon"><i class="fa-light fa-angle-right"></i></span>
          <a href="team.html">Team Member</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Breadcrumb Area -->

  <!-- Start Team Area -->
  <section class="trucker__team-area-home-1 trucker__team-area-inner-page">
    <div class="trucker__container">
      <div class="trucker__team-wrapper">
        <div class="trucker__title-wrapper">
          <p class="trucker__align-center trucker__sub-titel wow img-custom-anim-left">Leadership Team </p>
          <h2 class="trucker__main-title trucker__align-center wow img-custom-anim-right">Let us Take The Stress <br>
            Outof Your Mo ve.</h2>
        </div>
        <div class="trucker__team-inner">
          <div class="trucker__team-item">
            <div class="trucker__team-picture-wrapper">
              <img src="assets/images/home-1/team-1.png" alt="Trucker - Transport Courier & Logistics Html Template">
            </div>
            <div class="trucker__team-info">
              <div class="trucker__team-name-regi">
                <h4 class="trucker__team-member-name"><a href="https://devsaidul.com/ui/Trucker/team-details.html"
                    class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue">Marvin McKinney</a></h4>
                <span class="trucker__team-member-regi trucker__fs-16 trucker__fw-400 trucker__gray">Senior
                  Manager</span>
              </div>
              <div class="trucker__team-member-info">
                <span class="trucker__team-member-social-media-share-btn"><i
                    class="fa-sharp fa-solid fa-share-nodes"></i></span>
                <div class="trucker__team-social-media-wrapper">
                  <ul>
                    <li><a href="team.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="trucker__team-item trucker__team-item-mid">
            <div class="trucker__team-info">
              <div class="trucker__team-name-regi">
                <h4 class="trucker__team-member-name"><a href="https://devsaidul.com/ui/Trucker/team-details.html"
                    class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue">Terri Williams</a></h4>
                <span class="trucker__team-member-regi trucker__fs-16 trucker__fw-400 trucker__gray">Ceo
                  Transport</span>
              </div>
              <div class="trucker__team-member-info">
                <span class="trucker__team-member-social-media-share-btn"><i
                    class="fa-sharp fa-solid fa-share-nodes"></i></span>
                <div class="trucker__team-social-media-wrapper">
                  <ul>
                    <li><a href="team.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="trucker__team-picture-wrapper">
              <img src="assets/images/home-1/team-2.png" alt="Trucker - Transport Courier & Logistics Html Template">
            </div>
          </div>
          <div class="trucker__team-item">
            <div class="trucker__team-picture-wrapper">
              <img src="assets/images/home-1/team-3.png" alt="Trucker - Transport Courier & Logistics Html Template">
            </div>
            <div class="trucker__team-info">
              <div class="trucker__team-name-regi">
                <h4 class="trucker__team-member-name"><a href="https://devsaidul.com/ui/Trucker/team-details.html"
                    class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue">Jane Cooper</a></h4>
                <span class="trucker__team-member-regi trucker__fs-16 trucker__fw-400 trucker__gray">Ceo &
                  Founder</span>
              </div>
              <div class="trucker__team-member-info">
                <span class="trucker__team-member-social-media-share-btn"><i
                    class="fa-sharp fa-solid fa-share-nodes"></i></span>
                <div class="trucker__team-social-media-wrapper">
                  <ul>
                    <li><a href="team.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="trucker__team-inner">
          <div class="trucker__team-item">
            <div class="trucker__team-picture-wrapper">
              <img src="assets/images/inner/team-member/1.png"
                alt="Trucker - Transport Courier & Logistics Html Template">
            </div>
            <div class="trucker__team-info">
              <div class="trucker__team-name-regi">
                <h4 class="trucker__team-member-name"><a href="https://devsaidul.com/ui/Trucker/team-details.html"
                    class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue">Marvin McKinney</a></h4>
                <span class="trucker__team-member-regi trucker__fs-16 trucker__fw-400 trucker__gray">Senior
                  Manager</span>
              </div>
              <div class="trucker__team-member-info">
                <span class="trucker__team-member-social-media-share-btn"><i
                    class="fa-sharp fa-solid fa-share-nodes"></i></span>
                <div class="trucker__team-social-media-wrapper">
                  <ul>
                    <li><a href="team.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="trucker__team-item trucker__team-item-mid">
            <div class="trucker__team-info">
              <div class="trucker__team-name-regi">
                <h4 class="trucker__team-member-name"><a href="https://devsaidul.com/ui/Trucker/team-details.html"
                    class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue">Khanij Fatima</a></h4>
                <span class="trucker__team-member-regi trucker__fs-16 trucker__fw-400 trucker__gray">Ceo
                  Transport</span>
              </div>
              <div class="trucker__team-member-info">
                <span class="trucker__team-member-social-media-share-btn"><i
                    class="fa-sharp fa-solid fa-share-nodes"></i></span>
                <div class="trucker__team-social-media-wrapper">
                  <ul>
                    <li><a href="team.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="trucker__team-picture-wrapper">
              <img src="assets/images/inner/team-member/2.png"
                alt="Trucker - Transport Courier & Logistics Html Template">
            </div>
          </div>
          <div class="trucker__team-item">
            <div class="trucker__team-picture-wrapper">
              <img src="assets/images/inner/team-member/3.png"
                alt="Trucker - Transport Courier & Logistics Html Template">
            </div>
            <div class="trucker__team-info">
              <div class="trucker__team-name-regi">
                <h4 class="trucker__team-member-name"><a href="https://devsaidul.com/ui/Trucker/team-details.html"
                    class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue">Maxwall</a></h4>
                <span class="trucker__team-member-regi trucker__fs-16 trucker__fw-400 trucker__gray">Ceo &
                  Founder</span>
              </div>
              <div class="trucker__team-member-info">
                <span class="trucker__team-member-social-media-share-btn"><i
                    class="fa-sharp fa-solid fa-share-nodes"></i></span>
                <div class="trucker__team-social-media-wrapper">
                  <ul>
                    <li><a href="team.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="team.html#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Area -->