<!-- Start Breadcrumb Area  -->
<section
  class="trucker__hero-area trucker__breadcrumb-area"
  data-background="assets/images/inner/breadcrumb.png"
>
  <div class="trucker__container">
    <div class="trucker__hero-wrapper trucker__breadcrumb-wrapper">
      <h2
        class="trucker__breadcrumb-title trucker__fs-65 trucker__fw-500 trucker__white wow img-custom-anim-left text-center"
      >
        Popular Services
      </h2>
      <div class="trucker__breadcrumb-menu wow img-custom-anim-right">
        <a href="index.html">Home</a>
        <span class="trucker__breadcrumb-icon"
          ><i class="fa-light fa-angle-right"></i
        ></span>
        <a href="service.html">Popular Services</a>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->

<!-- Start Feature Area -->
<section class="trucker__feature-area-home-2">
  <div class="trucker__container">
    <div class="trucker__feature-wrapper">
      <div class="trucker__title-wrapper">
        <p
          class="trucker__align-center trucker__sub-titel wow img-custom-anim-left"
        >
          What we Offer
        </p>
        <h2
          class="trucker__main-title trucker__align-center wow img-custom-anim-right"
        >
          Our Sevices Make Your Work <br />
          More Productive
        </h2>
      </div>
      <div class="trucker__feature-inner">
        <div class="trucker__feature-items wow fadeInLeft">
          <div class="trucker__feature-icons-btn-wrapper">
            <span class="trucker__feature-icon">
              <img
                src="assets/images/icon/home-2-feature-icon-1.png"
                alt="Trucker - Transport Courier & Logistics Html Template"
              />
            </span>
          </div>
          <h4 class="trucker__feature-item-title">
            <a
              href="service-details.html"
              class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue"
              >Momentum Logistics</a
            >
          </h4>
          <span class="trucker__feature-item-shep-line">
            <img
              src="assets/images/shep/home-2-feature-item-line-shep.png"
              alt="Trucker - Transport Courier & Logistics Html Template"
            />
          </span>
          <p
            class="trucker__feature-item-discriptiions trucker__gray trucker__fs-16 trucker__fw-400"
          >
            Transmax is the world's driving worldwide <br />
            coordinations supplierwe uphold industry <br />
            and exchange the worldwide
          </p>
        </div>
        <div class="trucker__feature-items wow fadeInRight">
          <div class="trucker__feature-icons-btn-wrapper">
            <span class="trucker__feature-icon">
              <img
                src="assets/images/icon/home-2-feature-icon-2.png"
                alt="Trucker - Transport Courier & Logistics Html Template"
              />
            </span>
          </div>
          <h4 class="trucker__feature-item-title">
            <a
              href="service-details.html"
              class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue"
              >Domestic Transportation</a
            >
          </h4>
          <span class="trucker__feature-item-shep-line">
            <img
              src="assets/images/shep/home-2-feature-item-line-shep.png"
              alt="Trucker - Transport Courier & Logistics Html Template"
            />
          </span>
          <p
            class="trucker__feature-item-discriptiions trucker__gray trucker__fs-16 trucker__fw-400"
          >
            Transmax is the world's driving worldwide <br />
            coordinations supplierwe uphold industry <br />
            and exchange the worldwide
          </p>
        </div>
        <div class="trucker__feature-items wow fadeInUp">
          <div class="trucker__feature-icons-btn-wrapper">
            <span class="trucker__feature-icon">
              <img
                src="assets/images/icon/home-2-feature-icon-3.png"
                alt="Trucker - Transport Courier & Logistics Html Template"
              />
            </span>
          </div>
          <h4 class="trucker__feature-item-title">
            <a
              href="service-details.html"
              class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue"
              >International Transportation</a
            >
          </h4>
          <span class="trucker__feature-item-shep-line">
            <img
              src="assets/images/shep/home-2-feature-item-line-shep.png"
              alt="Trucker - Transport Courier & Logistics Html Template"
            />
          </span>
          <p
            class="trucker__feature-item-discriptiions trucker__gray trucker__fs-16 trucker__fw-400"
          >
            Transmax is the world's driving worldwide <br />
            coordinations supplierwe uphold industry <br />
            and exchange the worldwide
          </p>
        </div>
        <div class="trucker__feature-items wow fadeInRight">
          <div class="trucker__feature-icons-btn-wrapper">
            <span class="trucker__feature-icon">
              <img
                src="assets/images/icon/home-2-feature-icon-4.png"
                alt="Trucker - Transport Courier & Logistics Html Template"
              />
            </span>
          </div>
          <h4 class="trucker__feature-item-title">
            <a
              href="service-details.html"
              class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue"
              >Livestock Transportation</a
            >
          </h4>
          <span class="trucker__feature-item-shep-line">
            <img
              src="assets/images/shep/home-2-feature-item-line-shep.png"
              alt="Trucker - Transport Courier & Logistics Html Template"
            />
          </span>
          <p
            class="trucker__feature-item-discriptiions trucker__gray trucker__fs-16 trucker__fw-400"
          >
            Transmax is the world's driving worldwide <br />
            coordinations supplierwe uphold industry <br />
            and exchange the worldwide
          </p>
        </div>
        <div class="trucker__feature-items wow fadeInUp">
          <div class="trucker__feature-icons-btn-wrapper">
            <span class="trucker__feature-icon">
              <img
                src="assets/images/icon/home-2-feature-icon-5.png"
                alt="Trucker - Transport Courier & Logistics Html Template"
              />
            </span>
          </div>
          <h4 class="trucker__feature-item-title">
            <a
              href="service-details.html"
              class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue"
              >Mobile Office Transportation</a
            >
          </h4>
          <span class="trucker__feature-item-shep-line">
            <img
              src="assets/images/shep/home-2-feature-item-line-shep.png"
              alt="Trucker - Transport Courier & Logistics Html Template"
            />
          </span>
          <p
            class="trucker__feature-item-discriptiions trucker__gray trucker__fs-16 trucker__fw-400"
          >
            Transmax is the world's driving worldwide <br />
            coordinations supplierwe uphold industry <br />
            and exchange the worldwide
          </p>
        </div>
        <div class="trucker__feature-items wow fadeInLeft">
          <div class="trucker__feature-icons-btn-wrapper">
            <span class="trucker__feature-icon">
              <img
                src="assets/images/icon/home-2-feature-icon-6.png"
                alt="Trucker - Transport Courier & Logistics Html Template"
              />
            </span>
          </div>
          <h4 class="trucker__feature-item-title">
            <a
              href="service-details.html"
              class="trucker__fs-24 trucker__fw-700 trucker__deep-sea-blue"
              >Smaka General Transport</a
            >
          </h4>
          <span class="trucker__feature-item-shep-line">
            <img
              src="assets/images/shep/home-2-feature-item-line-shep.png"
              alt="Trucker - Transport Courier & Logistics Html Template"
            />
          </span>
          <p
            class="trucker__feature-item-discriptiions trucker__gray trucker__fs-16 trucker__fw-400"
          >
            Transmax is the world's driving worldwide <br />
            coordinations supplierwe uphold industry <br />
            and exchange the worldwide
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feature Area -->
