<!-- Start Breadcrumb Area  -->
<section
  class="trucker__hero-area trucker__breadcrumb-area"
  data-background="assets/images/inner/breadcrumb.png"
>
  <div class="trucker__container">
    <div class="trucker__hero-wrapper trucker__breadcrumb-wrapper">
      <h2
        class="trucker__breadcrumb-title trucker__fs-65 trucker__fw-500 trucker__white wow img-custom-anim-left text-center"
      >
        About Company
      </h2>
      <div class="trucker__breadcrumb-menu wow img-custom-anim-right">
        <a href="index.html">Home</a>
        <span class="trucker__breadcrumb-icon"
          ><i class="fa-light fa-angle-right"></i
        ></span>
        <a href="about.html">About Company</a>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->

<!-- Start About Area -->
<section class="trucker__about-area-home-1">
  <div class="trucker__container">
    <div class="trucker__about-wrapper">
      <div class="trucker__about-left-site wow img-custom-anim-left">
        <img
          src="assets/images/home-1/about.png"
          alt="Trucker - Transport Courier & Logistics Html Template"
        />
      </div>
      <div class="trucker__about-right-site wow img-custom-anim-right">
        <h3
          class="trucker__about-title trucker__fs-35 trucker__fw-700 trucker__deep-sea-blue"
        >
          We Provide Full Assistance in <br />
          Freight And Warehousing
        </h3>
        <p
          class="trucker__about-sub-titel trucker__fs-16 trucker__fw-400 trucker__gray"
        >
          Organically grow the holistic world view of disruptive innovation via
          <br />
          workplace.Organically grow the holistic world
        </p>
        <div class="trucker__about-some-info-wrapper">
          <div class="trucker__about-some-info-item">
            <span class="trucker__about-some-info-icon">
              <img
                src="assets/images/icon/home-1-about-icon-1.png"
                alt="Trucker - Transport Courier & Logistics Html Template"
              />
            </span>
            <h5
              class="trucker__about-some-info-title trucker__fs-20 trucker__fw-700 trucker__deep-sea-blue"
            >
              Worldwide Logistic Services
            </h5>
          </div>
          <div class="trucker__about-some-info-item">
            <span class="trucker__about-some-info-icon">
              <img
                src="assets/images/icon/home-1-about-icon-2.png"
                alt="Trucker - Transport Courier & Logistics Html Template"
              />
            </span>
            <h5
              class="trucker__about-some-info-title trucker__fs-20 trucker__fw-700 trucker__deep-sea-blue"
            >
              Friendly Support Team
            </h5>
          </div>
        </div>
        <ul class="trucker__about-info-point">
          <li>
            <span class="trucker__about-info-point-icon">
              <i class="fa-light fa-check"></i>
            </span>
            <span
              class="trucker__about-info-point-text trucker__fs-16 trucker__fw-500 trucker__deep-sea-blue"
              >Quality control system and transparency.</span
            >
          </li>
          <li>
            <span class="trucker__about-info-point-icon">
              <i class="fa-light fa-check"></i>
            </span>
            <span
              class="trucker__about-info-point-text trucker__fs-16 trucker__fw-500 trucker__deep-sea-blue"
              >100% Satisfaction with real time tracking.</span
            >
          </li>
          <li>
            <span class="trucker__about-info-point-icon">
              <i class="fa-light fa-check"></i>
            </span>
            <span
              class="trucker__about-info-point-text trucker__fs-16 trucker__fw-500 trucker__deep-sea-blue"
              >Highly professional staff, 24/7 online support.</span
            >
          </li>
        </ul>
        <div class="trucker__about-writer-info-wrapper">
          <div class="trucker__about-writer-info-inner">
            <img
              src="assets/images/home-1/home-1-about-content-writer.png"
              alt="Trucker - Transport Courier & Logistics Html Template"
            />
            <div class="trucker__about-writer-info-name-regi">
              <h5
                class="trucker__about-writer-info-name trucker__fs-20 trucker__fw-700 trucker__deep-sea-blue"
              >
                Kate Attjamin
              </h5>
              <p
                class="trucker__about-writer-info-regi trucker__fs-16 trucker__fw-400 trucker__gray"
              >
                Founder & Director
              </p>
            </div>
          </div>
          <div class="trucker__about-writer-signeture">
            <img
              src="assets/images/home-1/home-1-about-content-writer-sign.png"
              alt="Trucker - Transport Courier & Logistics Html Template"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->

<!-- Start Skill Area  -->
<section class="trucker__skill-area-home-2">
  <div class="trucker__skill-bar-top">
    <div class="trucker__skill-bar-top-img wow img-custom-anim-right">
      <img
        src="assets/images/home-2/skill-bar-1.png"
        alt="Trucker - Transport Courier & Logistics Html Template"
      />
    </div>
    <div class="trucker__container">
      <div class="trucker__skill-bar-top-bar-wrapper">
        <h3
          class="trucker__skill-bar-title trucker__deep-sea-blue trucker__fs-45 trucker__fw-700 wow img-custom-anim-left"
        >
          We give you Complete Contro <br />
          of your Shipment. <br />
          And Help You.
        </h3>
        <p
          class="trucker__skill-bar-sub-title trucker__fs-18 trucker__fw-400 trucker__gray wow img-custom-anim-top"
        >
          Logistics is generally the detailed the organiz ation and implem
          entation of <br />
          a complex operation. In a general info of the main business.Logistics
          is <br />
          generally the detailed
        </p>
      </div>
    </div>
  </div>
  <div class="trucker__skill-bar-bottom">
    <div class="trucker__skill-bar-bottom-bar-wrapper">
      <div class="trucker__progress-item wow img-custom-anim-top">
        <div class="trucker__circular-progress" data-value="80">
          <div class="trucker__progress-inner-text">
            <span class="trucker__progress-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="20"
                viewBox="0 0 22 20"
                fill="none"
              >
                <path
                  d="M11 20C11.3397 19.9996 11.6713 19.8985 11.9519 19.7099C16.1079 16.9312 17.9074 15.026 18.9 13.8349C21.0153 11.2958 22.028 8.68906 21.9994 5.86615C21.9661 2.63125 19.331 0 16.1253 0C13.7943 0 12.1798 1.29323 11.2396 2.37031C11.2098 2.40409 11.173 2.43117 11.1316 2.44973C11.0903 2.46829 11.0454 2.4779 11 2.4779C10.9546 2.4779 10.9097 2.46829 10.8684 2.44973C10.827 2.43117 10.7902 2.40409 10.7604 2.37031C9.82021 1.29219 8.20572 0 5.87469 0C2.669 0 0.0339012 2.63125 0.000585556 5.86667C-0.0279713 8.6901 0.985773 11.2969 3.09999 13.8354C4.09258 15.0266 5.89215 16.9318 10.0481 19.7104C10.3287 19.8988 10.6604 19.9997 11 20Z"
                  fill="#2A9D8F"
                />
              </svg>
            </span>
            <span class="trucker__progress-value">7230</span>
          </div>
        </div>
        <div class="trucker__progress-text-wrapper">
          <h3
            class="trucker__progress-name trucker__fs-30 trucker__fw-500 trucker__deep-sea-blue"
          >
            Trusted Clients
          </h3>
          <p
            class="trucker__progress-short-info trucker__gray-3 trucker__fs-20 trucker__fw-400"
          >
            There are of Lorem Ipsum
          </p>
        </div>
      </div>
      <div class="trucker__progress-item wow img-custom-anim-left">
        <div class="trucker__circular-progress" data-value="90">
          <div class="trucker__progress-inner-text">
            <span class="trucker__progress-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="24"
                viewBox="0 0 26 24"
                fill="none"
              >
                <path
                  d="M13 0L15.9187 8.98278H25.3637L17.7225 14.5344L20.6412 23.5172L13 17.9656L5.35879 23.5172L8.27747 14.5344L0.636266 8.98278H10.0813L13 0Z"
                  fill="#2A9D8F"
                />
              </svg>
            </span>
            <span class="trucker__progress-value">98%</span>
          </div>
        </div>
        <div class="trucker__progress-text-wrapper">
          <h3
            class="trucker__progress-name trucker__fs-30 trucker__fw-500 trucker__deep-sea-blue"
          >
            Successful Cases
          </h3>
          <p
            class="trucker__progress-short-info trucker__gray-3 trucker__fs-20 trucker__fw-400"
          >
            There are of Lorem Ipsum
          </p>
        </div>
      </div>
    </div>
    <div class="trucker__skill-bar-bottom-img wow img-custom-anim-right">
      <img
        src="assets/images/home-2/skill-bar-2.png"
        alt="Trucker - Transport Courier & Logistics Html Template"
      />
    </div>
  </div>
</section>
<!-- End Skill Bar Area -->

<!-- Start Faq Area -->
<section class="trucker__faq-area-home-1">
  <div class="trucker__faq-wrapper">
    <div class="trucker__faq-left">
      <div class="trucker__faq-left-wrapper">
        <div class="trucker__faq-title">
          <h2
            class="trucker__fs-47 trucker__fw-700 trucker__deep-sea-blue wow img-custom-anim-left"
          >
            Frequenlty Asked Questions <br />
            By Our Clients
          </h2>
        </div>
        <div class="trucker__faq-inner">
          <div class="trucker__faq-style-1">
            <div class="trucker__faq-item wow img-custom-anim-left">
              <div class="trucker__faq-question">
                <h3
                  class="trucker__fs-18 trucker__fw-700 trucker__deep-sea-blue"
                >
                  Is My Technology Allowed on Tech?
                </h3>
                <span class="trucker__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-icon trucker__hidden"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"
                    ></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-off-icon"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                    ></path>
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                  </svg>
                </span>
              </div>
              <div class="trucker__faq-answer" style="display: block">
                <p class="trucker__fs-16 trucker__fw-500 trucker__gray">
                  There are many variations of passages of available but the Ut
                  <br />
                  elit tellus luctus nec ullamcorper at mattis
                </p>
              </div>
            </div>
            <div class="trucker__faq-item wow img-custom-anim-right">
              <div class="trucker__faq-question">
                <h3
                  class="trucker__fs-18 trucker__fw-700 trucker__deep-sea-blue"
                >
                  How Long Does air Freight Take?
                </h3>
                <span class="trucker__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-icon trucker__hidden"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"
                    ></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-off-icon"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                    ></path>
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                  </svg>
                </span>
              </div>
              <div class="trucker__faq-answer">
                <p class="trucker__fs-16 trucker__fw-500 trucker__gray">
                  There are many variations of passages of available but the Ut
                  <br />
                  elit tellus luctus nec ullamcorper at mattis
                </p>
              </div>
            </div>
            <div class="trucker__faq-item wow img-custom-anim-top">
              <div class="trucker__faq-question">
                <h3
                  class="trucker__fs-18 trucker__fw-700 trucker__deep-sea-blue"
                >
                  What Payment Methods are Supported?
                </h3>
                <span class="trucker__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-icon trucker__hidden"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"
                    ></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-off-icon"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                    ></path>
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                  </svg>
                </span>
              </div>
              <div class="trucker__faq-answer">
                <p class="trucker__fs-16 trucker__fw-500 trucker__gray">
                  There are many variations of passages of available but the Ut
                  <br />
                  elit tellus luctus nec ullamcorper at mattis
                </p>
              </div>
            </div>
            <div class="trucker__faq-item wow img-custom-anim-left">
              <div class="trucker__faq-question">
                <h3
                  class="trucker__fs-18 trucker__fw-700 trucker__deep-sea-blue"
                >
                  What Payment Methods are Supported?
                </h3>
                <span class="trucker__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-icon trucker__hidden"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"
                    ></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-off-icon"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                    ></path>
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                  </svg>
                </span>
              </div>
              <div class="trucker__faq-answer">
                <p class="trucker__fs-16 trucker__fw-500 trucker__gray">
                  There are many variations of passages of available but the Ut
                  <br />
                  elit tellus luctus nec ullamcorper at mattis
                </p>
              </div>
            </div>
            <div class="trucker__faq-item wow img-custom-anim-right">
              <div class="trucker__faq-question">
                <h3
                  class="trucker__fs-18 trucker__fw-700 trucker__deep-sea-blue"
                >
                  What Payment Methods are Supported?
                </h3>
                <span class="trucker__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-icon trucker__hidden"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"
                    ></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="trucker__eye-off-icon"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                    ></path>
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                  </svg>
                </span>
              </div>
              <div class="trucker__faq-answer">
                <p class="trucker__fs-16 trucker__fw-500 trucker__gray">
                  There are many variations of passages of available but the Ut
                  <br />
                  elit tellus luctus nec ullamcorper at mattis
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="trucker__faq-right">
      <img
        src="https://devsaidul.com/ui/Trucker/assets/images/home-1/faq.png"
        alt="Trucker - Transport Courier & Logistics Html Template"
        class="wow img-custom-anim-left"
      />
      <div class="trucker__faq-contact wow img-custom-anim-top">
        <img
          src="https://devsaidul.com/ui/Trucker/assets/images/icon/faq-icon-home-1.png"
          alt="Trucker - Transport Courier & Logistics Html Template"
          class="trucker__faq-icon"
        />
        <span
          class="trucker__support-text trucker__fs-24 trucker__fw-500 trucker__white"
          >27/4 Online Support</span
        >
        <a
          href="tel:91458654528"
          class="trucker__faq-phone-number trucker__white trucker__fs-24 trucker__fw-500"
          >+91 458 654 528</a
        >
        <div class="trucker__faq-send-btn-wrapper">
          <a
            href="about.html#"
            class="trucker__btn-style-1 trucker__faq-send-btn"
            >Send Now <i class="fa-light fa-arrow-up-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Faq Area -->

<!-- Start Testimonial Area -->
<section
  class="trucker__testimonial-area-home-2 trucker__testimonial-area-about-inner-page"
>
  <div class="trucker__container">
    <div class="trucker__warpper-testimonial">
      <div class="trucker__title-wrapper">
        <p
          class="trucker__align-center trucker__sub-titel wow img-custom-anim-left"
        >
          Our Testimonial
        </p>
        <h2
          class="trucker__main-title trucker__align-center wow img-custom-anim-right"
        >
          What Our Clients Says
        </h2>
      </div>
      <div class="trucker__testimonial-inner">
        <div class="swiper trucker__testimonial-home-2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="trucker__testimonial-item">
                <div class="trucker__testimonial-items-wrapper">
                  <div class="trucker__testimonial-img-inner">
                    <img
                      src="assets/images/home-2/testimonial-1.png"
                      alt="Trucker - Transport Courier & Logistics Html Template"
                    />
                    <div class="trucker__testimonial-img-text">
                      <h5
                        class="trucker__testimonial-client-name trucker__fs-20 trucker__fw-500 trucker__deep-sea-blue"
                      >
                        Cameron Williamson
                      </h5>
                      <span
                        class="trucker__testimonial-regi trucker__fs-16 trucker__fw-400 trucker__green"
                        >Ceo & Founder</span
                      >
                    </div>
                  </div>
                  <span class="trucker__testimonial-quets">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="56"
                      height="41"
                      viewBox="0 0 56 41"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M17.8311 21.1016C17.9536 21.1016 18.0759 21.1354 18.1817 21.2039C18.3821 21.3311 18.4933 21.5575 18.4689 21.7902C18.1183 25.181 17.2177 28.3412 15.7918 31.1837C14.5318 33.6944 12.8821 35.8983 10.864 37.7716C20.7152 32.6251 24.7246 21.6445 23.3721 12.7732C22.5228 7.20455 19.1356 1.25311 12.1763 1.25311C6.17002 1.25308 1.28225 6.02976 1.28225 11.9008C1.28236 17.7707 6.16997 22.5474 12.1763 22.5474C14.0486 22.5473 15.8941 22.0753 17.5159 21.1821C17.6139 21.1277 17.723 21.1017 17.8311 21.1016L17.8311 21.1016ZM6.69995 40.7565C6.45388 40.7565 6.22235 40.6173 6.11549 40.39C5.98301 40.1038 6.08656 39.7655 6.35926 39.598C13.747 35.0813 16.2827 28.1824 17.053 22.8063C15.5225 23.4589 13.8584 23.8006 12.1765 23.8006C5.46212 23.8005 0 18.4615 0 11.9008C0.00010793 5.33901 5.4621 2.89626e-09 12.1765 2.89626e-09C15.527 -7.02862e-05 18.4723 1.27924 20.694 3.6986C22.7266 5.91116 24.0913 8.98545 24.64 12.5894C26.2563 23.1859 20.5827 36.6501 6.88693 40.7294C6.82457 40.7478 6.7611 40.7566 6.69997 40.7565L6.69995 40.7565Z"
                        fill="#2A9D8F"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M48.9217 21.1017C49.0442 21.1017 49.1666 21.1354 49.2735 21.2039C49.4739 21.3311 49.584 21.5575 49.5607 21.7902C49.21 25.181 48.3084 28.3412 46.8825 31.1837C45.6226 33.6944 43.9739 35.8984 41.9558 37.7716C51.8048 32.6251 55.8152 21.6445 54.4628 12.7732C53.6136 7.20455 50.2274 1.25311 43.2682 1.25311C37.2607 1.25308 32.3741 6.02976 32.3741 11.9008C32.3742 17.7707 37.2607 22.5474 43.2682 22.5474C45.1394 22.5473 46.986 22.0753 48.6079 21.1821C48.7059 21.1277 48.8137 21.1017 48.9217 21.1017L48.9217 21.1017ZM37.7906 40.7565C37.5446 40.7565 37.313 40.6173 37.2073 40.39C37.0738 40.1039 37.1783 39.7656 37.4499 39.5981C44.8389 35.0814 47.3734 28.1824 48.1436 22.8063C46.6132 23.4589 44.9501 23.8006 43.2682 23.8006C36.5539 23.8005 31.0918 18.4615 31.0918 11.9008C31.0919 5.33901 36.5539 2.89626e-09 43.2682 2.89626e-09C46.6176 -7.02862e-05 49.5629 1.27924 51.7847 3.6986C53.8173 5.91116 55.1819 8.98545 55.7318 12.5883C57.347 23.1859 51.6734 36.6501 37.9776 40.7294C37.9153 40.7478 37.8529 40.7566 37.7906 40.7565V40.7565Z"
                        fill="#2A9D8F"
                      />
                    </svg>
                  </span>
                </div>
                <p
                  class="trucker__testimonial-peragraph trucker__fs-18 trucker__fw-400 trucker__gray"
                >
                  The most advanced revenue than this. Iwill refer everyone
                  <br />
                  I like Level more and more each day because it makes my <br />
                  easier. It really saves me time and effort. Level is exactly
                  <br />
                  business has been lacking.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="trucker__testimonial-item">
                <div class="trucker__testimonial-items-wrapper">
                  <div class="trucker__testimonial-img-inner">
                    <img
                      src="assets/images/home-2/testimonial-2.png"
                      alt="Trucker - Transport Courier & Logistics Html Template"
                    />
                    <div class="trucker__testimonial-img-text">
                      <h5
                        class="trucker__testimonial-client-name trucker__fs-20 trucker__fw-500 trucker__deep-sea-blue"
                      >
                        Cameron Williamson
                      </h5>
                      <span
                        class="trucker__testimonial-regi trucker__fs-16 trucker__fw-400 trucker__green"
                        >Ceo & Founder</span
                      >
                    </div>
                  </div>
                  <span class="trucker__testimonial-quets">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="56"
                      height="41"
                      viewBox="0 0 56 41"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M17.8311 21.1016C17.9536 21.1016 18.0759 21.1354 18.1817 21.2039C18.3821 21.3311 18.4933 21.5575 18.4689 21.7902C18.1183 25.181 17.2177 28.3412 15.7918 31.1837C14.5318 33.6944 12.8821 35.8983 10.864 37.7716C20.7152 32.6251 24.7246 21.6445 23.3721 12.7732C22.5228 7.20455 19.1356 1.25311 12.1763 1.25311C6.17002 1.25308 1.28225 6.02976 1.28225 11.9008C1.28236 17.7707 6.16997 22.5474 12.1763 22.5474C14.0486 22.5473 15.8941 22.0753 17.5159 21.1821C17.6139 21.1277 17.723 21.1017 17.8311 21.1016L17.8311 21.1016ZM6.69995 40.7565C6.45388 40.7565 6.22235 40.6173 6.11549 40.39C5.98301 40.1038 6.08656 39.7655 6.35926 39.598C13.747 35.0813 16.2827 28.1824 17.053 22.8063C15.5225 23.4589 13.8584 23.8006 12.1765 23.8006C5.46212 23.8005 0 18.4615 0 11.9008C0.00010793 5.33901 5.4621 2.89626e-09 12.1765 2.89626e-09C15.527 -7.02862e-05 18.4723 1.27924 20.694 3.6986C22.7266 5.91116 24.0913 8.98545 24.64 12.5894C26.2563 23.1859 20.5827 36.6501 6.88693 40.7294C6.82457 40.7478 6.7611 40.7566 6.69997 40.7565L6.69995 40.7565Z"
                        fill="#2A9D8F"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M48.9217 21.1017C49.0442 21.1017 49.1666 21.1354 49.2735 21.2039C49.4739 21.3311 49.584 21.5575 49.5607 21.7902C49.21 25.181 48.3084 28.3412 46.8825 31.1837C45.6226 33.6944 43.9739 35.8984 41.9558 37.7716C51.8048 32.6251 55.8152 21.6445 54.4628 12.7732C53.6136 7.20455 50.2274 1.25311 43.2682 1.25311C37.2607 1.25308 32.3741 6.02976 32.3741 11.9008C32.3742 17.7707 37.2607 22.5474 43.2682 22.5474C45.1394 22.5473 46.986 22.0753 48.6079 21.1821C48.7059 21.1277 48.8137 21.1017 48.9217 21.1017L48.9217 21.1017ZM37.7906 40.7565C37.5446 40.7565 37.313 40.6173 37.2073 40.39C37.0738 40.1039 37.1783 39.7656 37.4499 39.5981C44.8389 35.0814 47.3734 28.1824 48.1436 22.8063C46.6132 23.4589 44.9501 23.8006 43.2682 23.8006C36.5539 23.8005 31.0918 18.4615 31.0918 11.9008C31.0919 5.33901 36.5539 2.89626e-09 43.2682 2.89626e-09C46.6176 -7.02862e-05 49.5629 1.27924 51.7847 3.6986C53.8173 5.91116 55.1819 8.98545 55.7318 12.5883C57.347 23.1859 51.6734 36.6501 37.9776 40.7294C37.9153 40.7478 37.8529 40.7566 37.7906 40.7565V40.7565Z"
                        fill="#2A9D8F"
                      />
                    </svg>
                  </span>
                </div>
                <p
                  class="trucker__testimonial-peragraph trucker__fs-18 trucker__fw-400 trucker__gray"
                >
                  The most advanced revenue than this. Iwill refer everyone
                  <br />
                  I like Level more and more each day because it makes my <br />
                  easier. It really saves me time and effort. Level is exactly
                  <br />
                  business has been lacking.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="trucker__testimonial-item">
                <div class="trucker__testimonial-items-wrapper">
                  <div class="trucker__testimonial-img-inner">
                    <img
                      src="assets/images/home-2/testimonial-2.png"
                      alt="Trucker - Transport Courier & Logistics Html Template"
                    />
                    <div class="trucker__testimonial-img-text">
                      <h5
                        class="trucker__testimonial-client-name trucker__fs-20 trucker__fw-500 trucker__deep-sea-blue"
                      >
                        Cameron Williamson
                      </h5>
                      <span
                        class="trucker__testimonial-regi trucker__fs-16 trucker__fw-400 trucker__green"
                        >Ceo & Founder</span
                      >
                    </div>
                  </div>
                  <span class="trucker__testimonial-quets">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="56"
                      height="41"
                      viewBox="0 0 56 41"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M17.8311 21.1016C17.9536 21.1016 18.0759 21.1354 18.1817 21.2039C18.3821 21.3311 18.4933 21.5575 18.4689 21.7902C18.1183 25.181 17.2177 28.3412 15.7918 31.1837C14.5318 33.6944 12.8821 35.8983 10.864 37.7716C20.7152 32.6251 24.7246 21.6445 23.3721 12.7732C22.5228 7.20455 19.1356 1.25311 12.1763 1.25311C6.17002 1.25308 1.28225 6.02976 1.28225 11.9008C1.28236 17.7707 6.16997 22.5474 12.1763 22.5474C14.0486 22.5473 15.8941 22.0753 17.5159 21.1821C17.6139 21.1277 17.723 21.1017 17.8311 21.1016L17.8311 21.1016ZM6.69995 40.7565C6.45388 40.7565 6.22235 40.6173 6.11549 40.39C5.98301 40.1038 6.08656 39.7655 6.35926 39.598C13.747 35.0813 16.2827 28.1824 17.053 22.8063C15.5225 23.4589 13.8584 23.8006 12.1765 23.8006C5.46212 23.8005 0 18.4615 0 11.9008C0.00010793 5.33901 5.4621 2.89626e-09 12.1765 2.89626e-09C15.527 -7.02862e-05 18.4723 1.27924 20.694 3.6986C22.7266 5.91116 24.0913 8.98545 24.64 12.5894C26.2563 23.1859 20.5827 36.6501 6.88693 40.7294C6.82457 40.7478 6.7611 40.7566 6.69997 40.7565L6.69995 40.7565Z"
                        fill="#2A9D8F"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M48.9217 21.1017C49.0442 21.1017 49.1666 21.1354 49.2735 21.2039C49.4739 21.3311 49.584 21.5575 49.5607 21.7902C49.21 25.181 48.3084 28.3412 46.8825 31.1837C45.6226 33.6944 43.9739 35.8984 41.9558 37.7716C51.8048 32.6251 55.8152 21.6445 54.4628 12.7732C53.6136 7.20455 50.2274 1.25311 43.2682 1.25311C37.2607 1.25308 32.3741 6.02976 32.3741 11.9008C32.3742 17.7707 37.2607 22.5474 43.2682 22.5474C45.1394 22.5473 46.986 22.0753 48.6079 21.1821C48.7059 21.1277 48.8137 21.1017 48.9217 21.1017L48.9217 21.1017ZM37.7906 40.7565C37.5446 40.7565 37.313 40.6173 37.2073 40.39C37.0738 40.1039 37.1783 39.7656 37.4499 39.5981C44.8389 35.0814 47.3734 28.1824 48.1436 22.8063C46.6132 23.4589 44.9501 23.8006 43.2682 23.8006C36.5539 23.8005 31.0918 18.4615 31.0918 11.9008C31.0919 5.33901 36.5539 2.89626e-09 43.2682 2.89626e-09C46.6176 -7.02862e-05 49.5629 1.27924 51.7847 3.6986C53.8173 5.91116 55.1819 8.98545 55.7318 12.5883C57.347 23.1859 51.6734 36.6501 37.9776 40.7294C37.9153 40.7478 37.8529 40.7566 37.7906 40.7565V40.7565Z"
                        fill="#2A9D8F"
                      />
                    </svg>
                  </span>
                </div>
                <p
                  class="trucker__testimonial-peragraph trucker__fs-18 trucker__fw-400 trucker__gray"
                >
                  The most advanced revenue than this. Iwill refer everyone
                  <br />
                  I like Level more and more each day because it makes my <br />
                  easier. It really saves me time and effort. Level is exactly
                  <br />
                  business has been lacking.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="trucker__testimonial-item">
                <div class="trucker__testimonial-items-wrapper">
                  <div class="trucker__testimonial-img-inner">
                    <img
                      src="assets/images/home-2/testimonial-2.png"
                      alt="Trucker - Transport Courier & Logistics Html Template"
                    />
                    <div class="trucker__testimonial-img-text">
                      <h5
                        class="trucker__testimonial-client-name trucker__fs-20 trucker__fw-500 trucker__deep-sea-blue"
                      >
                        Cameron Williamson
                      </h5>
                      <span
                        class="trucker__testimonial-regi trucker__fs-16 trucker__fw-400 trucker__green"
                        >Ceo & Founder</span
                      >
                    </div>
                  </div>
                  <span class="trucker__testimonial-quets">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="56"
                      height="41"
                      viewBox="0 0 56 41"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M17.8311 21.1016C17.9536 21.1016 18.0759 21.1354 18.1817 21.2039C18.3821 21.3311 18.4933 21.5575 18.4689 21.7902C18.1183 25.181 17.2177 28.3412 15.7918 31.1837C14.5318 33.6944 12.8821 35.8983 10.864 37.7716C20.7152 32.6251 24.7246 21.6445 23.3721 12.7732C22.5228 7.20455 19.1356 1.25311 12.1763 1.25311C6.17002 1.25308 1.28225 6.02976 1.28225 11.9008C1.28236 17.7707 6.16997 22.5474 12.1763 22.5474C14.0486 22.5473 15.8941 22.0753 17.5159 21.1821C17.6139 21.1277 17.723 21.1017 17.8311 21.1016L17.8311 21.1016ZM6.69995 40.7565C6.45388 40.7565 6.22235 40.6173 6.11549 40.39C5.98301 40.1038 6.08656 39.7655 6.35926 39.598C13.747 35.0813 16.2827 28.1824 17.053 22.8063C15.5225 23.4589 13.8584 23.8006 12.1765 23.8006C5.46212 23.8005 0 18.4615 0 11.9008C0.00010793 5.33901 5.4621 2.89626e-09 12.1765 2.89626e-09C15.527 -7.02862e-05 18.4723 1.27924 20.694 3.6986C22.7266 5.91116 24.0913 8.98545 24.64 12.5894C26.2563 23.1859 20.5827 36.6501 6.88693 40.7294C6.82457 40.7478 6.7611 40.7566 6.69997 40.7565L6.69995 40.7565Z"
                        fill="#2A9D8F"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M48.9217 21.1017C49.0442 21.1017 49.1666 21.1354 49.2735 21.2039C49.4739 21.3311 49.584 21.5575 49.5607 21.7902C49.21 25.181 48.3084 28.3412 46.8825 31.1837C45.6226 33.6944 43.9739 35.8984 41.9558 37.7716C51.8048 32.6251 55.8152 21.6445 54.4628 12.7732C53.6136 7.20455 50.2274 1.25311 43.2682 1.25311C37.2607 1.25308 32.3741 6.02976 32.3741 11.9008C32.3742 17.7707 37.2607 22.5474 43.2682 22.5474C45.1394 22.5473 46.986 22.0753 48.6079 21.1821C48.7059 21.1277 48.8137 21.1017 48.9217 21.1017L48.9217 21.1017ZM37.7906 40.7565C37.5446 40.7565 37.313 40.6173 37.2073 40.39C37.0738 40.1039 37.1783 39.7656 37.4499 39.5981C44.8389 35.0814 47.3734 28.1824 48.1436 22.8063C46.6132 23.4589 44.9501 23.8006 43.2682 23.8006C36.5539 23.8005 31.0918 18.4615 31.0918 11.9008C31.0919 5.33901 36.5539 2.89626e-09 43.2682 2.89626e-09C46.6176 -7.02862e-05 49.5629 1.27924 51.7847 3.6986C53.8173 5.91116 55.1819 8.98545 55.7318 12.5883C57.347 23.1859 51.6734 36.6501 37.9776 40.7294C37.9153 40.7478 37.8529 40.7566 37.7906 40.7565V40.7565Z"
                        fill="#2A9D8F"
                      />
                    </svg>
                  </span>
                </div>
                <p
                  class="trucker__testimonial-peragraph trucker__fs-18 trucker__fw-400 trucker__gray"
                >
                  The most advanced revenue than this. Iwill refer everyone
                  <br />
                  I like Level more and more each day because it makes my <br />
                  easier. It really saves me time and effort. Level is exactly
                  <br />
                  business has been lacking.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="trucker__slider-arrow-testimonial-home-2">
          <span
            class="trucker__slider-testimonial-btn trucker__next-slider-testimonial-btn"
          >
            <i class="fa-light fa-arrow-left"></i>
          </span>
          <span
            class="trucker__slider-testimonial-btn trucker__prev-slider-testimonial-btn"
          >
            <i class="fa-light fa-arrow-right"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonial Area -->
